<template>
  <component :is="layout">
    <router-view/>
  </component>
</template>

<script setup>
import {computed} from "vue";
import {useRoute} from "vue-router";
import DashboardLayout from './layout/Dashboard'
import EmptyLayout from './layout/Empty'
import LandingLayout from './layout/Landing'
const route = useRoute()

const layout = computed(() => {
  if (route.meta.layout === 'dashboard') {
    return DashboardLayout
  }
  if (route.meta.layout === 'landing') {
    return LandingLayout
  }
  return EmptyLayout
})
</script>

<style lang="scss">
</style>
