.form-login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    box-sizing: border-box;
    min-height: 100vh;
}
.error-message {
    max-width: 500px;
}
