<template>
  <div class="form-login">
    <div class="uk-card uk-card-body uk-card-default">
      <template v-if="success">
        <h3 class="uk-card-title">{{ success }}</h3>
      </template>
      <template v-else>
        <h3 class="uk-card-title">Forgot password</h3>
        <div class="uk-margin">
          <label class="uk-form-label" for="forgot-email">Enter your password</label>
          <div class="uk-form-controls">
            <input
                id="register-email"
                class="uk-input uk-form-width-large"
                type="password"
                :class="v$.password.$error ? 'uk-form-danger' : ''"
                v-model="field.password"
            >
          </div>
        </div>
        <div v-if="error" class="uk-text-danger error-message">
          {{ error }}
        </div>
        <div class="uk-margin">
          <button class="uk-button uk-button-default" @click="reset">Reset</button>
        </div>
      </template>
    </div>
  </div>
</template>

<script setup>
import {reactive, ref} from 'vue'
import useVuelidate from '@vuelidate/core'
import {useRoute, useRouter} from 'vue-router'
import {required, maxLength} from '@vuelidate/validators'

const route = useRoute()
const router = useRouter()
const apiUrl = process.env.VUE_APP_API_URL
const error = ref('')
const success = ref('')
const field = reactive({
  password:''
})
const v$ = useVuelidate({
  password: {required, maxLength: maxLength(30)}
}, field)

async function reset() {
  if (await v$.value.$validate()) {
    const response = await fetch(apiUrl + '/forgot-password', {
      method: 'POST',
      headers: {
        'Authorization': 'Bearer ' + route.query.token,
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({password: field.password})
    })
    if (response.status === 400) {
      error.value = 'token invalid'
    } else {
      const result = await response.json()
      localStorage.setItem('jwt_token', result.token)
      router.push('/')
    }
  }
}
</script>
