<template>
  <div class="form-login">
    <template v-if="success">
      <div class="uk-alert-success alert-fixed uk-padding-small">
        {{success}}
      </div>
    </template>
    <div class="uk-card uk-card-body uk-card-default">
      <h3 class="uk-card-title">Forgot password</h3>
      <div class="uk-margin">
        <label class="uk-form-label" for="forgot-email">Enter your email</label>
        <div class="uk-form-controls">
          <input
              id="register-email"
              class="uk-input uk-form-width-large"
              type="text"
              :class="v$.email.$error ? 'uk-form-danger' : ''"
              v-model="field.email"
          >
        </div>
      </div>
      <div v-if="error" class="uk-text-danger error-message">
        {{ error }}
      </div>
      <div class="uk-margin">
        <button class="uk-button uk-button-default" @click="reset">Reset</button>
      </div>
      <div class="uk-margin">
        <router-link to="/login">
          Get back to login
        </router-link>
      </div>
    </div>
  </div>
</template>

<script setup>
import {reactive, ref} from 'vue'
import useVuelidate from '@vuelidate/core'
import {required} from '@vuelidate/validators'

const apiUrl = process.env.VUE_APP_API_URL
const error = ref('')
const success = ref('')
const field = reactive({
  email: ''
})
const v$ = useVuelidate({
  email: {required}
}, field)

async function reset() {
  if (await v$.value.$validate()) {
    const response = await fetch(apiUrl + '/send-email', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({email: field.email})
    })
    if (response.status === 400) {
      const result = await response.json()
      error.value = result.message
      success.value = ''
    } else {
      const result = await response.json()
      success.value = result.message
      error.value = ''
      setTimeout(()=> {
        success.value = ''
      }, 2000)
    }
  }
}
</script>
<style>
.alert-fixed {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
}
</style>
