<template>
  <div id="preloader"></div>
  <nav class="menu-subtitle menu-fixed menu-transparent menu-one-page light" data-menu-anima="fade-bottom"
       data-scroll-detect="true">
    <div class="container">
      <div class="menu-brand">
        <a href="#">
          <img class="logo-default" src="media/logo-light.svg" alt="logo"/>
          <img class="logo-retina" src="media/logo-light.svg" alt="logo"/>
        </a>
      </div>
      <i class="menu-btn"></i>
      <div class="menu-cnt">
        <ul>
          <li>
            <a href="#overview">Overview<span>About us</span></a>
          </li>
          <li>
            <a href="#features">Features<span>And tools</span></a>
          </li>
          <li>
            <a href="#pricing">Pricing<span>Our plans</span></a>
          </li>
          <li>
            <a href="#services">Services<span>Boosted</span></a>
          </li>
          <li>
            <a href="#clients">Clients<span>Brands</span></a>
          </li>
          <li class="dropdown">
            <a href="#">Pages<span>Template</span></a>
            <ul>
              <li class="dropdown-submenu">
                <a href="#">Sites</a>
                <ul>
                  <li><a href="index-saas.html">Saas</a></li>
                  <li><a href="index-fintech.html">Fintech</a></li>
                  <li><a href="index-sport.html">Sport</a></li>
                  <li><a href="index-food.html">Food</a></li>
                  <li><a href="index-chat.html">Chat</a></li>
                  <li><a href="index-music.html">Music</a></li>
                  <li><a href="index-photo.html">Photo</a></li>
                  <li><a href="index-travel.html">Travel</a></li>
                  <li><a href="index-news.html">News</a></li>
                  <li><a href="index.html">Intro</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a href="#">Pages</a>
                <ul>
                  <li><a href="about.html">About</a></li>
                  <li><a href="careers.html">Careers</a></li>
                  <li><a href="faq.html">Faqs</a></li>
                  <li><a href="customers.html">Success stories</a></li>
                  <li><a href="pricing-1.html">Pricing one</a></li>
                  <li><a href="pricing-2.html">Pricing two</a></li>
                  <li><a href="team.html">Team</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a href="#">Blog</a>
                <ul>
                  <li><a href="blog-1.html">Blog one</a></li>
                  <li><a href="blog-2.html">Blog two</a></li>
                  <li><a href="post.html">Post</a></li>
                </ul>
              </li>
              <li class="dropdown-submenu">
                <a href="#">Contacts</a>
                <ul>
                  <li><a href="contacts-1.html">Contacts one</a></li>
                  <li><a href="contacts-2.html">Contacts two</a></li>
                  <li><a href="contacts-3.html">Contacts three</a></li>
                </ul>
              </li>
              <li>
                <a href="elements/components/buttons.html">Elements</a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="menu-right">
          <ul class="lan-menu">
            <li class="dropdown">
              <a href="#"><img src="media/en.png"/>EN </a>
              <ul>
                <li><a href="#"><img src="media/it.png"/>IT</a></li>
                <li><a href="#"><img src="media/es.png"/>ES</a></li>
              </ul>
            </li>
          </ul>
          <div class="menu-custom-area hidden-lg">
            <router-link to="/login" class="btn btn-border btn-circle btn-xs">
              Login
            </router-link>
            <router-link to="/register" class="btn btn-border btn-circle btn-xs">
              Sign Up
            </router-link>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </nav>
  <main>
    <section class="section-image section-full-width light section-bottom-layer-2 align-center section-ovarlay-image"
             style="background-image:url(media/bg.svg)">
      <div class="container">
        <hr class="space-lg"/>
        <h1 data-anima="fade-in" data-time="1000">
          Easy, fast, and flexible compute. Spin up<br class="hidden-md"/>your choice of virtual assistants in just 90
          seconds.
        </h1>
        <p class="width-750" data-anima="fade-in" data-time="1000">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore
          magna aliqua.
          Ut enim ad minim veniam, quis nostrud exercitation ullamco laboriso.
        </p>
        <a href="#" class="btn btn-sm btn-circle shadow-1 full-width-sm" data-anima="fade-in" data-time="1000">Purchase
          now</a><span class="space hidden-sm"></span>
        <hr class="space-sm visible-sm"/>
        <a href="https://www.youtube.com/watch?v=Lb4IcGF5iTQ" data-lightbox-anima="fade-top"
           class="btn-text btn-video lightbox" data-anima="fade-in" data-time="1000">View video</a>
        <hr class="space"/>
        <img src="media/tablet-1.png" alt=""/>
      </div>
    </section>
    <section class="section-base section-bottom-layer">
      <div class="container">
        <ul class="slider"
            data-options="type:carousel,arrows:false,nav:false,perView:5,perViewMd:3,perViewSm:2,perViewXs:1,gap:100,autoplay:3000">
          <li>
            <img src="media/logos/logo-1.png" alt=""/>
          </li>
          <li>
            <img src="media/logos/logo-2.png" alt=""/>
          </li>
          <li>
            <img src="media/logos/logo-3.png" alt=""/>
          </li>
          <li>
            <img src="media/logos/logo-6.png" alt=""/>
          </li>
          <li>
            <img src="media/logos/logo-5.png" alt=""/>
          </li>
          <li>
            <img src="media/logos/logo-4.png" alt=""/>
          </li>
        </ul>
        <hr class="space-lg"/>
        <h2 class="align-center width-650">
          Lorem ipsum dolor sit amet. no sea takimata sanctus est Lorem ipsum dolor sit amete.
          Ut enim ad minim veniam, quis laboriso.
        </h2>
      </div>
    </section>
    <section id="overview" class="section-base section-color section-top-overflow">
      <div class="container">
        <div class="grid-list" data-columns="4" data-columns-md="2" data-columns-sm="1">
          <div class="grid-box">
            <div class="grid-item anima">
              <div class="cnt-box cnt-box-top boxed">
                <a href="#" class="img-box"><img src="media/saas/icon-1.svg" alt=""/></a>
                <div class="caption">
                  <h2>Validation and more</h2>
                  <p>
                    Lorem ipsum dolor sitamet consectetur sed do eiusmod tempore.
                  </p>
                  <a class="btn-text" href="#">More details</a>
                </div>
              </div>
            </div>
            <div class="grid-item anima">
              <div class="cnt-box cnt-box-top boxed">
                <a href="#" class="img-box"><img src="media/saas/icon-2.svg" alt=""/></a>
                <div class="caption">
                  <h2>Real-time charts</h2>
                  <p>
                    Lorem ipsum dolor sitamet consectetur sed do eiusmod tempore.
                  </p>
                  <a class="btn-text" href="#">More details</a>
                </div>
              </div>
            </div>
            <div class="grid-item anima">
              <div class="cnt-box cnt-box-top boxed">
                <a href="#" class="img-box"><img src="media/saas/icon-3.svg" alt=""/></a>
                <div class="caption">
                  <h2>Form developing</h2>
                  <p>
                    Lorem ipsum dolor sitamet consectetur sed do eiusmod tempore.
                  </p>
                  <a class="btn-text" href="#">More details</a>
                </div>
              </div>
            </div>
            <div class="grid-item anima">
              <div class="cnt-box cnt-box-top boxed">
                <a href="#" class="img-box"><img src="media/saas/icon-4.svg" alt=""/></a>
                <div class="caption">
                  <h2>Convergence tools</h2>
                  <p>
                    Lorem ipsum dolor sitamet consectetur sed do eiusmod tempore.
                  </p>
                  <a class="btn-text" href="#">More details</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="space-lg"/>
        <div class="row">
          <div class="col-lg-6">
            <hr class="space-xs"/>
            <h2>Trusted all over the world<br/>by a wide range of companies.</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et
              dolore
              magna aliqua.
              Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquo.
            </p>
            <a href="#" class="btn btn-circle btn-sm">View about us</a>
          </div>
          <div class="col-lg-6">
            <hr class="space-sm visible-md"/>
            <table class="table table-grid table-border align-left no-padding-y">
              <tbody>
              <tr>
                <td>
                  <div class="counter counter-horizontal counter-icon">
                    <div>
                      <h3>Downloads</h3>
                      <div class="value text-lg">
                        <span data-to="150" data-speed="3000">150</span>
                        <span class="text-md">K</span>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="counter counter-horizontal counter-icon">
                    <div>
                      <h3>Active users</h3>
                      <div class="value text-lg">
                        <span data-to="12" data-speed="3000">12</span>
                        <span class="text-md">K</span>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="counter counter-horizontal counter-icon">
                    <div>
                      <h3>Positive reviews</h3>
                      <div class="value text-lg">
                        <span data-to="10" data-speed="3000">10</span>
                        <span class="text-md">K</span>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
            <hr class="space space-25"/>
            <p>
              Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et
              dolore
              magna aliqua.
              Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquo.
            </p>
            <hr class="space space-40"/>
            <a href="#" class="btn btn-border btn-circle btn-sm">View all scores</a>
          </div>
        </div>
      </div>
    </section>
    <section class="section-image light" style="background-image:url(media/bg.svg)">
      <div class="container">
        <div class="row" data-anima="fade-bottom" data-time="1000">
          <div class="col-lg-6">
            <h2>Start a 15 days free trial.</h2>
            <p>
              Lorem ipsum dolor sit amet no sea takimata sanctus est Lorem ipsum dolor sit amete
              sare nostrud exercitation ullamco sea takiquis.
            </p>
          </div>
          <div class="col-lg-6">
            <form action="themekit/scripts/contact-form/contact-form.php" class="form-box form-ajax form-inline"
                  method="post" data-email="example@domain.com">
              <div class="row">
                <div class="col-lg-8">
                  <p>Type your email</p>
                  <input id="email" name="email" placeholder="" type="email" class="input-text" required>
                </div>
                <div class="col-lg-4">
                  <p></p>
                  <button class="btn btn-sm" type="submit">Get started</button>
                </div>
              </div>
              <div class="form-checkbox">
                <input type="checkbox" id="check" name="check" value="check" required>
                <label for="check">You accept the terms of service and the privacy policy</label>
              </div>
              <div class="success-box">
                <div class="alert alert-success">Congratulations. Your message has been sent successfully</div>
              </div>
              <div class="error-box">
                <div class="alert alert-warning">Error, please retry. Your message has not been sent</div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <section id="features" class="section-base section-color align-center section-bottom-layer-2">
      <div class="container">
        <h2 class="align-center" data-anima="fade-bottom" data-time="1000">Let's start with a bang.</h2>
        <p class="align-center width-650" data-anima="fade-bottom" data-time="1000">
          Lorem ipsum dolor sit amet no sea takimata sanctus est Lorem ipsum dolor sit amete
          sare nostrud exercitation ullamco dolore eu fugiat nulla pariature.
        </p>
        <hr class="space"/>
        <img src="media/devices.png" alt=""/>
      </div>
    </section>
    <section class="section-base no-padding-top align-center">
      <div class="container">
        <hr class="space"/>
        <div class="row">
          <div class="col-lg-4">
            <h3>Multi devices</h3>
            <p>
              Lorem ipsum dolor sitamet consectetur adipisicing elito sed do eiusmod tempore fugiata nulla paria
              mesta.
            </p>
          </div>
          <div class="col-lg-4">
            <h3>Double encryption</h3>
            <p>
              Lorem ipsum dolor sitamet consectetur adipisicing elito sed do eiusmod tempore fugiata nulla paria
              mesta.
            </p>
          </div>
          <div class="col-lg-4">
            <h3>Bitcoin support</h3>
            <p>
              Lorem ipsum dolor sitamet consectetur adipisicing elito sed do eiusmod tempore fugiata nulla paria
              mesta.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section id="pricing" class="section-base section-color">
      <div class="container" data-anima="fade-bottom" data-time="1000">
        <div class="row">
          <div class="col-lg-4">
            <h2>Get the most aggressive prices on the market.</h2>
            <p>
              Lorem ipsum dolor sit amet no sea takimata sanctus est Lorem ipsumo.
            </p>
            <hr class="space-sm"/>
            <ul class="accordion-list">
              <li>
                <a href="#">Refunds and money back policy</a>
                <div class="content">
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et
                    dolore magna aliqua.
                    Utenim ad minim veniam quis nostrud exercitation ullamco laboris.
                  </p>
                </div>
              </li>
              <li>
                <a href="#">Assistence and support</a>
                <div class="content">
                  <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et
                    dolore magna aliqua.
                    Utenim ad minim veniam quis nostrud exercitation ullamco laboris.
                  </p>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-lg-8">
            <table class="table table-border table-price">
              <thead>
              <tr>
                <th>Features</th>
                <th>Personal</th>
                <th>Commercial</th>
                <th>Enterprise</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>Suggestions related to your interests</td>
                <td><i class="icon-check"></i></td>
                <td><i class="icon-check"></i></td>
                <td><i class="icon-check"></i></td>
              </tr>
              <tr>
                <td>Listen on all devices</td>
                <td><i class="icon-check"></i></td>
                <td><i class="icon-check"></i></td>
                <td><i class="icon-check"></i></td>
              </tr>
              <tr>
                <td>Upload up to 50.000 songs</td>
                <td><i class="icon-check-gray"></i></td>
                <td><i class="icon-check"></i></td>
                <td><i class="icon-check"></i></td>
              </tr>
              <tr>
                <td>Radio based on sentiments and more</td>
                <td><i class="icon-check-gray"></i></td>
                <td><i class="icon-check"></i></td>
                <td><i class="icon-check"></i></td>
              </tr>
              <tr>
                <td>Switch to another song whenever you want</td>
                <td><i class="icon-check-gray"></i></td>
                <td><i class="icon-check-gray"></i></td>
                <td><i class="icon-check"></i></td>
              </tr>
              <tr>
                <td>Music download and offline playing</td>
                <td><i class="icon-check-gray"></i></td>
                <td><i class="icon-check-gray"></i></td>
                <td><i class="icon-check"></i></td>
              </tr>
              <tr>
                <td>Price per month</td>
                <td><b>$19</b></td>
                <td><b>$39</b></td>
                <td><b>$99</b></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
    <section class="section-base">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-6" data-anima="fade-left" data-time="1000">
            <img class="margin-23" src="media/phone-12.png" alt=""/>
          </div>
          <div class="col-lg-6 col-md-6" data-anima="fade-right" data-time="1000">
            <h2>Direct and multiplex<br/>connections all over the world.</h2>
            <p>
              Lorem ipsum dolor sit ametno sea takimata sanctus est Lorem ipsum dolor sit amete.
              Ut enim ad minim veniam.
            </p>
            <ul class="icon-list icon-circle">
              <li>Lorem ipsum dolor sit ameteminim veniam amoartes.</li>
              <li>Lorem exercitation ipsum dolor sittakimata amete magna doloros.</li>
              <li>Aullamco ipsum dolor sit amete sanctus artes.</li>
            </ul>
          </div>
        </div>
        <hr class="space-sm"/>
        <hr class="space-sm visible-md"/>
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-6" data-anima="fade-left" data-time="1000">
            <h2>Dedicated power systems<br/>with constant hardware monitoring.</h2>
            <p>
              Lorem ipsum dolor sit ametno sea takimata sanctus est Lorem ipsum dolor sit amete.
              Ut enim ad minim veniam.
            </p>
            <ul class="icon-list icon-circle">
              <li>Lorem ipsum dolor sit ameteminim veniam amoartes.</li>
              <li>Lorem exercitation ipsum dolor sittakimata amete magna doloros.</li>
              <li>Aullamco ipsum dolor sit amete sanctus artes.</li>
            </ul>
          </div>
          <div class="col-lg-6 col-md-6" data-anima="fade-right" data-time="1000">
            <img class="margin-23" src="media/phone-13.png" alt=""/>
          </div>
        </div>
      </div>
    </section>
    <section id="services" class="section-image light" style="background-image:url(media/bg.svg)">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h2>Up to the mountains<br/>is where our numbers bring us.</h2>
            <p>
              Lorem ipsum dolor sit ametno sea takimata sanctus est oremipo dolorecante sit amete.
              Ut enim ad minim veniam aorem exercitation ipsumdolore sit amete sanctus maratallo dolora sitano.
            </p>
          </div>
          <div class="col-lg-6">
            <div class="progress-bar">
              <h4>Hardware structure</h4>
              <div>
                <div data-progress="50">
                  <span class="counter" data-to="50" data-speed="2000" data-unit="%">30%</span>
                </div>
              </div>
            </div>
            <hr class="space-sm"/>
            <div class="progress-bar">
              <h4>Service up time</h4>
              <div>
                <div data-progress="99">
                  <span class="counter" data-to="99" data-speed="2000" data-unit="%">99%</span>
                </div>
              </div>
            </div>
            <hr class="space-sm"/>
            <div class="progress-bar">
              <h4>Software driven</h4>
              <div>
                <div data-progress="70">
                  <span class="counter" data-to="70" data-speed="2000" data-unit="%">70%</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="features" class="section-base section-color">
      <div class="container" data-anima="fade-bottom" data-time="1000">
        <h2 class="align-center">A large range of services.</h2>
        <p class="align-center width-650">
          Lorem ipsum dolor sit amet no sea takimata sanctus est Lorem ipsum dolor sit amete
          sare nostrud exercitation ullamco sea takiquis nostrud exercitatio.
        </p>
        <hr class="space"/>
        <div class="grid-list" data-columns="4" data-columns-md="3" data-columns-sm="2" data-columns-xs="1">
          <div class="grid-box">
            <div class="grid-item">
              <div class="cnt-box cnt-box-top">
                <a href="#" class="img-box"><img src="media/saas/icon-5.svg" alt=""/></a>
                <div class="caption">
                  <h2>Validation and more</h2>
                  <p>
                    Lorem ipsum dolor sitamet consectetur sed do.
                  </p>
                </div>
              </div>
            </div>
            <div class="grid-item">
              <div class="cnt-box cnt-box-top">
                <a href="#" class="img-box"><img src="media/saas/icon-6.svg" alt=""/></a>
                <div class="caption">
                  <h2>Eco solutions</h2>
                  <p>
                    Lorem ipsum dolor sitamet codo eiusmod tempore.
                  </p>
                </div>
              </div>
            </div>
            <div class="grid-item">
              <div class="cnt-box cnt-box-top">
                <a href="#" class="img-box"><img src="media/saas/icon-7.svg" alt=""/></a>
                <div class="caption">
                  <h2>Fast payments</h2>
                  <span class="extra-field">Promotion</span>
                  <p>
                    Lorem ipsum dolor sitamet consectetu tempore.
                  </p>
                </div>
              </div>
            </div>
            <div class="grid-item">
              <div class="cnt-box cnt-box-top">
                <a href="#" class="img-box"><img src="media/saas/icon-8.svg" alt=""/></a>
                <div class="caption">
                  <h2>Premium support</h2>
                  <span class="extra-field">Promotion</span>
                  <p>
                    Lorem ipsum dolor sitamet consectetur tempore.
                  </p>
                </div>
              </div>
            </div>
            <div class="grid-item">
              <div class="cnt-box cnt-box-top">
                <a href="#" class="img-box"><img src="media/saas/icon-9.svg" alt=""/></a>
                <div class="caption">
                  <h2>Validation and more</h2>
                  <p>
                    Dratto ipsum dolor sitametare sedanone do eiusmo.
                  </p>
                </div>
              </div>
            </div>
            <div class="grid-item">
              <div class="cnt-box cnt-box-top">
                <a href="#" class="img-box"><img src="media/saas/icon-10.svg" alt=""/></a>
                <div class="caption">
                  <h2>Real-time charts</h2>
                  <p>
                    Lorem ipsum dolor sitamet consectetur se tempore.
                  </p>
                </div>
              </div>
            </div>
            <div class="grid-item">
              <div class="cnt-box cnt-box-top">
                <a href="#" class="img-box"><img src="media/saas/icon-11.svg" alt=""/></a>
                <div class="caption">
                  <h2>Form developing</h2>
                  <p>
                    Ipsum areste dolor sitamet consecte artiso mellone.
                  </p>
                </div>
              </div>
            </div>
            <div class="grid-item">
              <div class="cnt-box cnt-box-top">
                <a href="#" class="img-box"><img src="media/saas/icon-12.svg" alt=""/></a>
                <div class="caption">
                  <h2>Convergence tools</h2>
                  <p>
                    Artesta ipsum dolor sitamet consectetur sed do eiusmo.
                  </p>
                </div>
              </div>
            </div>
            <div class="grid-item">
              <div class="cnt-box cnt-box-top">
                <a href="#" class="img-box"><img src="media/saas/icon-9.svg" alt=""/></a>
                <div class="caption">
                  <h2>Validation and more</h2>
                  <p>
                    Dratto ipsum dolor sitametare sedanone do eiusmo.
                  </p>
                </div>
              </div>
            </div>
            <div class="grid-item">
              <div class="cnt-box cnt-box-top">
                <a href="#" class="img-box"><img src="media/saas/icon-7.svg" alt=""/></a>
                <div class="caption">
                  <h2>Form developing</h2>
                  <p>
                    Lorem ipsum dolor sitamet consectetu tempore.
                  </p>
                </div>
              </div>
            </div>
            <div class="grid-item">
              <div class="cnt-box cnt-box-top">
                <a href="#" class="img-box"><img src="media/saas/icon-12.svg" alt=""/></a>
                <div class="caption">
                  <h2>Convergence tools</h2>
                  <p>
                    Artesta ipsum dolor sitamet consectetur sed do eiusmo.
                  </p>
                </div>
              </div>
            </div>
            <div class="grid-item">
              <div class="cnt-box cnt-box-top">
                <a href="#" class="img-box"><img src="media/saas/icon-10.svg" alt=""/></a>
                <div class="caption">
                  <h2>Real-time charts</h2>
                  <p>
                    Lorem ipsum dolor sitamet consectetur se tempore.
                  </p>
                </div>
              </div>
            </div>
            <div class="grid-item">
              <div class="cnt-box cnt-box-top">
                <a href="#" class="img-box"><img src="media/saas/icon-11.svg" alt=""/></a>
                <div class="caption">
                  <h2>Form developing</h2>
                  <p>
                    Ipsum areste dolor sitamet consecte artiso mellone.
                  </p>
                </div>
              </div>
            </div>
            <div class="grid-item">
              <div class="cnt-box cnt-box-top">
                <a href="#" class="img-box"><img src="media/saas/icon-7.svg" alt=""/></a>
                <div class="caption">
                  <h2>Form developing</h2>
                  <p>
                    Lorem ipsum dolor sitamet consectetu tempore.
                  </p>
                </div>
              </div>
            </div>
            <div class="grid-item">
              <div class="cnt-box cnt-box-top">
                <a href="#" class="img-box"><img src="media/saas/icon-12.svg" alt=""/></a>
                <div class="caption">
                  <h2>Convergence tools</h2>
                  <p>
                    Artesta ipsum dolor sitamet consectetur sed do eiusmo.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="list-pagination">
            <ul class="pagination align-center" data-page-items="8" data-pagination-anima="fade-bottom"></ul>
          </div>
        </div>
      </div>
    </section>
    <section id="clients" class="section-base">
      <div class="container" data-anima="fade-bottom" data-time="1000">
        <div class="row">
          <div class="col-lg-8">
            <h2>Over 90 thousands subscribers love Codrop.</h2>
            <p>
              Lorem ipsum dolor sit amet no sea takimata sanctus est Lorem ipsum dolore.
              Lorem ipsum dolor sit amet no sea takimata sanctus est Lorem ipsum dolor sit sit amete.
            </p>
          </div>
          <div class="col-lg-4 align-right align-left-md">
            <a href="#" class="btn btn-circle btn-sm">Watch more stories</a>
          </div>
        </div>
        <hr class="space"/>
        <div class="row">
          <div class="col-lg-6">
            <a class="img-box btn-video lightbox shadow-1" data-lightbox-anima="fade-top"
               href="https://www.youtube.com/watch?v=Lb4IcGF5iTQ">
              <img src="http://via.placeholder.com/1000x600" alt="">
            </a>
          </div>
          <div class="col-lg-6">
            <a class="img-box btn-video lightbox shadow-1" data-lightbox-anima="fade-top"
               href="https://www.youtube.com/watch?v=Lb4IcGF5iTQ">
              <img src="http://via.placeholder.com/1000x600" alt="">
            </a>
          </div>
        </div>
        <hr class="space"/>
        <ul class="slider"
            data-options="type:carousel,arrows:true,perView:3,perViewSm:2,perViewXs:1,gap:30,controls:out">
          <li>
            <div class="cnt-box cnt-box-testimonials rating-5">
              <img src="/media/450x450.png" alt=""/>
              <p>
                Lorem ipsum dolor sitamet consectetur adipisicing elito sed do eiusmod tempore.
              </p>
              <p class="testimonial-info">
                <span>Robert Junior</span>
                <span>Slack</span>
              </p>
            </div>
          </li>
          <li>
            <div class="cnt-box cnt-box-testimonials rating-5">
              <img src="/media/450x450.png" alt=""/>
              <p>
                Lorem ipsum dolor sitamet consectetur adipisicing elito sed do eiusmod tempore.
              </p>
              <p class="testimonial-info">
                <span>Jessica Poster</span>
                <span>Facebook</span>
              </p>
            </div>
          </li>
          <li>
            <div class="cnt-box cnt-box-testimonials rating-4">
              <img src="/media/450x450.png" alt=""/>
              <p>
                Lorem ipsum dolor sitamet consectetur adipisicing elito sed do eiusmod tempore.
              </p>
              <p class="testimonial-info">
                <span>Brad Manson</span>
                <span>Google</span>
              </p>
            </div>
          </li>
          <li>
            <div class="cnt-box cnt-box-testimonials rating-5">
              <img src="/media/450x450.png" alt=""/>
              <p>
                Lorem ipsum dolor sitamet consectetur adipisicing elito sed do eiusmod tempore.
              </p>
              <p class="testimonial-info">
                <span>Richard Pall</span>
                <span>Microsoft</span>
              </p>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class="section-base section-color">
      <div class="container">
        <div class="row" data-anima="fade-bottom" data-time="1000">
          <div class="col-lg-6">
            <form action="themekit/scripts/contact-form/contact-form.php" class="form-box form-ajax boxed-area"
                  method="post" data-email="example@domain.com">
              <div class="row">
                <div class="col-lg-6">
                  <p>First name</p>
                  <input id="name" name="name" placeholder="Name" type="text" class="input-text" required>
                </div>
                <div class="col-lg-6">
                  <p>Last name</p>
                  <input id="surname" name="surname" placeholder="Surname" type="text" class="input-text" required>
                </div>
                <div class="col-lg-6">
                  <p>Email</p>
                  <input id="email" name="email" placeholder="Email" type="email" class="input-text" required>
                </div>
                <div class="col-lg-6">
                  <p>Phone</p>
                  <input id="phone" name="phone" placeholder="Phone" type="text" class="input-text" required>
                </div>
                <div class="col-lg-12">
                  <p>Address</p>
                  <input id="Address" name="Address" placeholder="Address" type="text" class="input-text" required>
                </div>
              </div>
              <button class="btn btn-sm btn-circle" type="submit">Send message</button>
              <div class="form-checkbox">
                <input type="checkbox" id="check" name="check" value="check" required>
                <label for="check">You accept the terms of service and the privacy policy</label>
              </div>
              <div class="success-box">
                <div class="alert alert-success">Congratulations. Your message has been sent successfully</div>
              </div>
              <div class="error-box">
                <div class="alert alert-warning">Error, please retry. Your message has not been sent</div>
              </div>
            </form>
          </div>
          <div class="col-lg-6">
            <hr class="space-sm visible-md"/>
            <h2>
              Start now the adventure by<br/>subscribing to our new promotion.
            </h2>
            <p>
              Lorem ipsum dolor sit amet no sea takimata sanctus est Lorem ipsum dolor sit amete
              sare nostrud exercitation ullamco sea takiquis nostra.
            </p>
            <ul class="icon-list icon-circle">
              <li>Lorem ipsum dolor sit ameteminim verese veniam amoartes.</li>
              <li>Lorem exercitation ipsum dolor sitta magna doloros.</li>

            </ul>
            <hr class="space space-40"/>
            <img src="media/sign-dark.png" alt=""/>
          </div>
        </div>
      </div>
    </section>
  </main>
  <i class="scroll-top-btn scroll-top show"></i>
  <footer class="footer-parallax light">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <h4>Company and team</h4>
          <div class="menu-inner menu-inner-vertical">
            <ul>
              <li>
                <a href="#">Company details and team</a>
              </li>
              <li>
                <a href="#">News and blog</a>
              </li>
              <li>
                <a href="#">Press area</a>
              </li>
              <li>
                <a href="#">Affiliates and marketing</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <h4>Help and support</h4>
          <div class="menu-inner menu-inner-vertical">
            <ul>
              <li>
                <a href="#">Help centre</a>
              </li>
              <li>
                <a href="#">Feedbacks</a>
              </li>
              <li>
                <a href="#">Request new features</a>
              </li>
              <li>
                <a href="#">Contact us</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <h4>Learn more</h4>
          <div class="menu-inner menu-inner-vertical">
            <ul>
              <li>
                <a href="#">Apps stores</a>
              </li>
              <li>
                <a href="#">Partners</a>
              </li>
              <li>
                <a href="#">Privacy and terms</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3">
          <h4>Follow us</h4>
          <div class="icon-links icon-social icon-links-grid social-colors">
            <a class="facebook"><i class="icon-facebook"></i></a>
            <a class="twitter"><i class="icon-twitter"></i></a>
            <a class="linkedin"><i class="icon-linkedin"></i></a>
            <a class="youtube"><i class="icon-youtube"></i></a>
            <a class="instagram"><i class="icon-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bar">
      <div class="container">
        <span>© Codrop LTD 2019. Codrop is a powerful Landing Page App Template built with <a target="_blank"
                                                                                              href="https://themekit.dev/code/">Themekit</a> by the <a
            target="_blank" href="https://schiocco.com/">Schiocco</a> Team. </span>
        <span><img src="media/logo-light.svg"/></span>
      </div>
    </div>
  </footer>
</template>
<script setup>
import jQuery from 'jquery'
window.jQuery = jQuery
import {onMounted} from "vue";

onMounted(() => {
  const body = document.querySelector('body')

  const scripts = [
    'themekit/scripts/main.js',
    'themekit/scripts/parallax.min.js',
    'themekit/scripts/glide.min.js',
    'themekit/scripts/magnific-popup.min.js',
    'themekit/scripts/tab-accordion.js',
    'themekit/scripts/pagination.min.js',
    'themekit/scripts/imagesloaded.min.js',
    'themekit/scripts/contact-form/contact-form.js',
    'themekit/scripts/progress.js',
    'media/custom.js'
  ]
  scripts.forEach((script) => {
    const el = document.createElement('script')
    el.src = script
    body.append(el)
  })
})
</script>

<style>

</style>
