<template>
  <div class="form-login">
    <div class="uk-card uk-card-body uk-card-default">
      <h3 class="uk-card-title">Login</h3>
      <div class="uk-margin">
        <label class="uk-form-label" for="email-user-name">User Name</label>
        <div class="uk-form-controls">
          <input
              id="register-user-name"
              class="uk-input uk-form-width-large"
              :class="v$.username.$error ? 'uk-form-danger' : ''"
              type="text"
              v-model="user.username"
          >
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="email-password">Password</label>
        <div class="uk-form-controls">
          <input
              id="register-password"
              class="uk-input uk-form-width-large"
              type="password"
              :class="v$.password.$error ? 'uk-form-danger' : ''"
              v-model="user.password"
          >
        </div>
      </div>
      <div v-if="error" class="uk-text-danger error-message">
        {{error}}
      </div>
      <div class="uk-margin">
        <button class="uk-button uk-button-default" @click="login">Login</button>
      </div>
      <div class="uk-margin">
        <router-link to="/register">
          Sign Up
        </router-link>
      </div>
      <div class="uk-margin">
        <router-link to="/forgot">
          Forgot password
        </router-link>
      </div>
    </div>
  </div>
</template>

<script setup>
import { reactive, ref } from 'vue'
import {useRouter} from 'vue-router'
import useVuelidate from '@vuelidate/core'
import { required, maxLength } from '@vuelidate/validators'

const router = useRouter()
const apiUrl = process.env.VUE_APP_API_URL
const error = ref('')
const user = reactive({
  username: '',
  password: '',
})
const v$ = useVuelidate({
  username: {required, maxLength: maxLength(30)},
  password: {required, maxLength: maxLength(30)},
}, user)

async function login() {
  if (await v$.value.$validate()) {
    const response = await fetch(apiUrl + '/login', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(user)
    })
    if (response.status === 401) {
      const result = await response.json()
      error.value = result.message
    } else {
      const result = await response.json()
      localStorage.setItem('jwt_token', result.token)
      router.push('/dashboard')
    }
  }
}
</script>
