<template>
  <div class="form-login">
    <div class="uk-card uk-card-body uk-card-default">
      <h3 class="uk-card-title">Sign Up</h3>
      <div class="uk-margin">
        <label class="uk-form-label" for="register-user-name">User Name</label>
        <div class="uk-form-controls">
          <input
              id="register-user-name"
              class="uk-input uk-form-width-large"
              :class="v$.userName.$error ? 'uk-form-danger' : ''"
              type="text"
              v-model="user.userName"
          >
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="register-password">Password</label>
        <div class="uk-form-controls">
          <input
              id="register-password"
              class="uk-input uk-form-width-large"
              type="password"
              :class="v$.password.$error ? 'uk-form-danger' : ''"
              v-model="user.password"
          >
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="register-company-name">Company Name</label>
        <div class="uk-form-controls">
          <input
              id="register-company-name"
              class="uk-input uk-form-width-large"
              type="text"
              :class="v$.companyName.$error ? 'uk-form-danger' : ''"
              v-model="user.companyName"
          >
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="register-email">Email</label>
        <div class="uk-form-controls">
          <input
              id="register-email"
              class="uk-input uk-form-width-large"
              type="text"
              :class="v$.email.$error ? 'uk-form-danger' : ''"
              v-model="user.email"
          >
        </div>
      </div>
      <div class="uk-margin">
        <label class="uk-form-label" for="register-phone-number">Phone Number</label>
        <div class="uk-form-controls">
          <input
              id="register-phone-number"
              class="uk-input uk-form-width-large"
              type="text"
              :class="v$.phoneNumber.$error ? 'uk-form-danger' : ''"
              v-model="user.phoneNumber"
          >
        </div>
      </div>
      <div class="uk-margin">
        <div class="uk-form-label">Point of Sale Software</div>
        <div class="uk-form-controls" :class="v$.pointOfSaleSoftware.$error ? 'uk-form-danger' : ''">
          <div>
            <label>
              <input
                  class="uk-radio"
                  type="radio"
                  name="pointOfSaleSoftware"
                  value="Retail"
                  v-model="user.pointOfSaleSoftware"
              >
              Retail Management System (RMS)
            </label>
          </div>
          <div>
            <label>
              <input
                  class="uk-radio"
                  type="radio"
                  name="pointOfSaleSoftware"
                  value="Microsoft"
                  v-model="user.pointOfSaleSoftware"
              >
              Microsoft Retail System
            </label>
          </div>
          <div>
            <label>
              <input
                  class="uk-radio"
                  type="radio"
                  name="pointOfSaleSoftware"
                  value="Quickbooks"
                  v-model="user.pointOfSaleSoftware"
              >
              Quickbooks Point of Sale
            </label>
          </div>
          <div>
            <label>
              <input
                  class="uk-radio"
                  type="radio"
                  name="pointOfSaleSoftware"
                  value="IT"
                  v-model="user.pointOfSaleSoftware"
              >
              IT Retail
            </label>
          </div>
          <div>
            <label>
              <input
                  class="uk-radio"
                  type="radio"
                  name="pointOfSaleSoftware"
                  value="other"
                  v-model="user.pointOfSaleSoftware"
              >
              Other
            </label>
          </div>
        </div>
      </div>
      <div class="uk-card uk-card-body uk-card-default">
        <Stripe
            ref="stripe"
        />
      </div>
      <div v-if="error" class="uk-text-danger error-message">
        {{error}}
      </div>
      <div class="uk-margin">
        <button class="uk-button uk-button-default" @click="signUp">Sign Up</button>
      </div>
      <div class="uk-margin">
        <router-link to="/login">
          Login
        </router-link>
      </div>
    </div>
  </div>
</template>

<script setup>
import { reactive, ref } from 'vue'
import useVuelidate from '@vuelidate/core'
import { required, maxLength, numeric } from '@vuelidate/validators'
import Stripe from '@/components/Stripe'
import {useRouter} from "vue-router";
const router = useRouter()
const stripe = ref()
const apiUrl = process.env.VUE_APP_API_URL
const error = ref('')
const user = reactive({
  userName: '',
  password: '',
  companyName: '',
  email: '',
  phoneNumber: null,
  pointOfSaleSoftware: '',
  tokenPay: {}
})
const v$ = useVuelidate({
  userName: {required, maxLength: maxLength(30)},
  password: {required, maxLength: maxLength(30)},
  companyName: {required, maxLength: maxLength(30)},
  email: {required},
  phoneNumber: {required, numeric},
  pointOfSaleSoftware: {required}
}, user)

async function signUp() {
  const pay = await stripe.value.pay()
  if (await v$.value.$validate() && !pay.error) {
    user.tokenPay = pay.token
    const response = await fetch(apiUrl + '/signup', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(user)
    })
    if (response.status === 400) {
      const result = await response.json()
      error.value = result.message
    } else {
      const result = await response.json()
      error.value = ''
      localStorage.setItem('jwt_token', result.token)
      router.push('/dashboard')
    }
  }
}
</script>
