<template>
  <div>
    <h2>
      Billing Page
    </h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid, aut blanditiis deleniti ea eligendi facere inventore laboriosam, magnam magni, maiores minima nisi officia quibusdam quo quos sapiente veniam voluptatem?
    </p>
  </div>
</template>
