<template>
  <StripeElements
      v-if="stripeLoaded"
      v-slot="{ elements }"
      ref="elms"
      :stripe-key="stripeKey"
  >
    <StripeElement
        ref="card"
        :elements="elements"
    />
  </StripeElements>
</template>

<script setup>
import {StripeElements, StripeElement} from 'vue-stripe-js'
import {loadStripe} from '@stripe/stripe-js'
import {ref, onBeforeMount, defineExpose} from 'vue'

const stripeKey = ref(process.env.VUE_APP_PUBLIC_KEY)
const stripeLoaded = ref(false)
const card = ref()
const elms = ref()
defineExpose({
  pay
})
onBeforeMount(async () => {
  await loadStripe(stripeKey.value)
  stripeLoaded.value = true
})
async function pay() {
  const cardElement = card.value.stripeElement
  return await elms.value.instance.createToken(cardElement)
}
</script>
