<template>
  <main class="uk-flex uk-height dashboard">
    <div class="uk-width-1-5 uk-card uk-card-body uk-card-default uk-flex uk-flex-column">
      <h3 class="uk-margin">
        <router-link to="/" class="logo">
          Lasso ERP
        </router-link>
      </h3>
      <ul class="uk-nav">
        <li>
          <router-link to="/dashboard" class="uk-link-muted" activeClass="uk-text-primary">
            Dashboard
          </router-link>
        </li>
        <li>
          <router-link to="/user/account" class="uk-link-muted" activeClass="uk-text-primary">
            Account
          </router-link>
        </li>
        <li>
          <router-link to="/user/billing" class="uk-link-muted" activeClass="uk-text-primary">
            Billing
          </router-link>
        </li>
      </ul>
      <div class="uk-margin-medium-top uk-flex-1 uk-flex uk-flex-bottom">
        <span class="uk-text-danger logout" @click="logout">
          logout
        </span>
      </div>
    </div>
    <div class="uk-width uk-padding">
      <slot/>
    </div>
  </main>
</template>

<script setup>
import {useRouter} from "vue-router";

const router = useRouter()
function logout() {
  localStorage.removeItem('jwt_token')
  router.push('/login')
}
</script>

<style scoped lang="scss">
.dashboard {
  min-height: 100vh;
}
.logo {
  text-decoration: none;
  color: #222;
  text-transform: uppercase;
}
.logout {
  cursor: pointer;
}
</style>
