<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <link rel="stylesheet" href="themekit/css/bootstrap-grid.css">
      <link rel="stylesheet" href="themekit/css/style.css">
      <link rel="stylesheet" href="themekit/css/glide.css">
      <link rel="stylesheet" href="themekit/css/magnific-popup.css">
      <link rel="stylesheet" href="themekit/css/content-box.css">
      <link rel="stylesheet" href="themekit/css/contact-form.css">
      <link rel="stylesheet" href="themekit/css/media-box.css">
      <link rel="stylesheet" href="skin.css">
      <link rel="icon" href="media/favicon.png">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
